body {
    background-color: #1e1b3b;
    color: #fff;
}

header {
  text-align: center;
}

#bio {
  width: 20%;
  text-align: center;
}

.social-media {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline;
  display: inline-block;
}

#nome {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  margin-top: 0;
  display: inline-block;
}

#aboutme {
  font-style: italic;
}

#foto {
  border-radius: 50%;
  display: inline-block;
}

.skills {
  font-style: italic;
}