body {
    background-color: #3C6255;
    color: #EAE7B1;
    text-align: none;
}

.social-media {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: inline;
}

#nome {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  margin-top: 0;
}

#aboutme {
  font-style: italic;
}

#foto {
  border-radius: 20%;
}

.skills {
  font-style: italic;
}